<h1>Componentes de un sistema de información</h1>
<article class="">
  <h2>Hardware</h2>
  <img src="/images/hard.jpg" alt="" width="50%">
  <p>La palabra hardware en informática se refiere a las partes físicas, tangibles, de un sistema informático; sus componentes eléctricos, electrónicos, electromecánicos y mecánicos.​ Los cables, así como los gabinetes o cajas, los periféricos de todo tipo, y cualquier otro elemento físico involucrado, componen el hardware o soporte físico</p>
</article>
<article class="">
  <h2>Software</h2>
  <img src="/images/software.jpg" alt="" width="50%">
  <p>Se conoce como software​ al soporte lógico de un sistema informático, que comprende el conjunto de los componentes lógicos necesarios que hacen posible la realización de tareas específicas.</p>
</article>
<article class="">
  <h2>Datos</h2>
  <img src="/images/datos.jpg" alt="" width="50%">
  <p>Un dato es una representación simbólica (numérica, alfabética, algorítmica, espacial, etc.) de un atributo o variable cuantitativa o cualitativa. Los datos describen hechos empíricos, sucesos y entidades. Es un valor o referente que recibe el computador por diferentes medios, los datos representan la información que el programador manipula en la construcción de una solución o en el desarrollo de un algoritmo.</p>
</article>
<article class="">
  <h2>Redes de computadoras</h2>
  <img src="/images/redes.jpg" alt="" width="50%">
  <p>Una red de computadoras (también llamada red de ordenadores, red de comunicaciones de datos o red informática) es un conjunto de equipos nodos y software conectados entre sí por medio de dispositivos físicos o inalámbricos que envían y reciben impulsos eléctricos, ondas electromagnéticas o cualquier otro medio para el transporte de datos, con la finalidad de compartir información, recursos y ofrecer servicios.</p>
</article>
