<h1>Conceptos</h1>
<article class="">
  <h2>Dato</h2>
  <p></p>
</article>

<article class="">
  <h2>Informacion</h2>
  <p></p>
</article>
<article class="">
  <h2>Sistemas de informacion</h2>
  <p></p>
</article>
