<h1>{{title}}</h1>
<img src="/images/dialid.jpg"  alt="">
<article class="">
  
  <p>
    <ul>
     <li>Lezly Dialid Cerón Rodríguez </li>
     <li>313 </li>
     <li>Ingeniería en Computación Octavo Semestre </li>
     <li>https://www.facebook.com/scherezade.deidarazoka</li>
     <h2>Hobbies </h2>
      <li>Ajedrez, literatura, baile</li>
    </ul>
  </p>
</article>
