<h1>{{title}}</h1>
<img src="/images/crm.jpg" alt="">
<article class="">
  
  <p>
    <ul>
     <li>Lezly Dialid Cerón Rodríguez
     313021455
     dialid.ceron@gmail.com
     Ingeniería en Computación Octavo Semestre
     </li>
     <h2>Hobbies </h2>
      <li>Ajedrez, literatura, baile</li>
    </ul>
  </p>
</article>
