<div class="">
  <article class="">
    <h2 class="">J. Eduardo S&aacute;nchez P.</h2>
    <div class="center">
      <img class="circle" src="/images/eduardo-profile.jpg" alt="yomero" width="30%">
    </div>
    <ul>
      <li>Número de cuenta 313081422</li>
      <li>Email: jsanchez@eslibertad.org</li>
      <li>
        <p>Estudiante de ingeniería en computacion. Libertario. Administrador
          de bases de datos en <a href="http://www.studentsforliberty.com/eslib">EsLibertad México</a>.
          Me gusta aprender cosas nuevas. Me interesan la relaciones internacionales.</p>
      </li>
    </ul>
  </article>
</div>


<div class="">
  <article class="">
    <h2>Redes Sociales</h2>
    <li>Facebook: <a href="http://www.facebook.com/jeduardo.schz">Eduardo Sánchez</a> </li>
    <li>Instagram: <a href="http://www.instagram.com/jeduardo.schz">Eduardo Sánchez</a></li>
    <li>Twitter: <a href="http://www.twitter.com/jeduardo_schz@gmail.com"></a> </li>
    <li>GitHub: <a href="http://www.github.com/eduardoschz"></a> </li>
  </article>
</div>
