<h1 class="center">Informacion util</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="images/informacion.jpg">
        <span class="card-title">Información</span>
      </div>
      <div class="card-content">
        <p>La información es un conjunto organizado de datos procesados, que constituyen un mensaje 
          que cambia el estado de conocimiento del sujeto o sistema que recibe dicho mensaje.</p>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="images/util.jpg">
        <span class="card-title">Utilidad</span>
      </div>
      <div class="card-content">
        <p>La utilidad es el interés, provecho o fruto que se obtiene de algo. El término también permite nombrar 
          a la cualidad de útil (que puede servir o ser aprovechado en algún sentido). Algo útil sirve para 
          satisfacer una necesidad.</p>
        <p>En el ámbito de la informática también se ha uso del término utilidad. En este caso viene a hacer 
          referencia a cualquier tipo de herramienta que se emplea con el único y claro objetivo de servir no sólo 
          para poder llevar a cabo la construcción de un programa determinado sino también para la posterior 
          ejecución del mismo.</p>  
      </div>
    </div>
  </div>
</div>

<article class="iu center">
  <h2 class="center">Informacion util</h2>
  <p>Para ser útil, la información debe ser relevante,  completa, precisa y actual</p>
  <h3>Caracteristicas</h3>

  {{#caracteristicas caracteristicas descripcion color}}{{/caracteristicas}}

</article>

<figure class="center ">
  <img class="imgUtil" src="/images/infoUtil.jpg" alt="">
</figure>