<h1>Informacion util</h1>
<article class="">
  <h2>Informacion</h2>
  <p>La información es un conjunto organizado de datos procesados, que constituyen un mensaje que cambia el estado de conocimiento del sujeto o sistema que recibe dicho mensaje. </p>
</article>
<article class="">
  <h2>Utilidad</h2>
  <p></p>
</article>
