<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya&display=swap">
  <link rel='stylesheet' href='/stylesheets/materialize.min.css'/>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel='stylesheet' href='/stylesheets/{{VC}}.css'/>
  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js"></script>
  <script src="/javascripts/materialize.min.js"></script>
</head>

<body>

  <nav class="blue-grey">
    <div class="nav-wrapper">
      <a href="/"><img id="logo" src="/images/logo_blanco-01.png" alt="logo"></a>
      <h5 class="brand-logo">LiberTeam</h5>
      {{#menu navigacion.menu navigacion.target}}{{/menu}}
    </div>
  </nav>

  {{#submenus navigacion.target navigacion.temas navigacion.ligas}}{{/submenus}}

  {{{body}}}  

  <footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">LiberTeam</h5>
          <p class="grey-text text-lighten-4">Proyecto final de Sistemas de Información.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://trello.com/b/yHp0IjuE/icoscrumliberteam2810">Trello</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/eduardoschz/ICO_SCRUM_LiberTeam_2810">Github</a></li>
            <li><a class="grey-text text-lighten-3" href="/smc">Sistemas de Control</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright. Todos los derechos reservados
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <script src="/javascripts/{{VC}}.js"></script>
  <script src="/javascripts/global.js"></script>
</body>
</html>
