<h1>LUIS</h1>
<img src="/images/fotoLuis.jpg" alt="" width="30%" class="circle">
<ul>
  <li>Luis Angel Garcia Cervantes</li>
  <li>313058044</li>
  <li>luis_garciacervantes@yahoo.com.mx</li>
  <li>Octavo Semestre (8)</li>
  <li>Tocar mandolina, ver series <br><img src="/images/mandolina.jpg" alt="" width="30%"> </li>
  <li><a href="https://www.facebook.com/profile.php?id=100001451337378">Facebook</a>
  </li>
</ul>
