<section id="marco" class="bloques">
    <h3>Scrum Team: {{title}}</h3>
    <article class="flex-container">
      <section class="infoPersonal">
        <img class="fPerfil" src="/images/MarcoFoto.jpg" alt="Foto">
        <h5>Informacion Personal</h5>
        <p>Nombre: Nava Cruz Marco Antonio</p>
        <p>No. de Cuenta: 129</p>
        <p>Correo: marconava@si.com</p>
        <p>Semestre: 8vo. Semestre</p>
      </section>
      <section class="infoGral">
        <h5>Hobbies</h5>
        <p>Me agrada estar solo pero no desprecio la compañia de otras personas, ver anime o películas en las noches, también leo mangas
          y unos cuantos comics, escuchar música, comer y los videojuegos. </p>
        <article class="flex-container">
          <img class="hobbies" src="/images/Goku.png" alt="Anime">
          <img class="hobbies" src="/images/comic.png" alt="Comic">
          <img class="hobbies" src="/images/musica.png" alt="Musica">
          <img class="hobbies" src="/images/videojuegos.png" alt="Games">
        </article>
        <h5>Redes Sociales</h5>
        <article class="flex-container">
          <a href="https://www.facebook.com/marcoantonio.navacruz"><img class="redes" src="/images/facebookIcon.jpg" alt="Facebook"></a>
          <a href="https://github.com/Marineford2410"><img class="redes" src="/images/GithubIcon.png" alt="Github" ></a>
          <a href="https://twitter.com/MarkoNava1"><img class="redes" src="../images/Twitter.png" alt="Twitter"></a>
        </article>
      </section>
    </article>
  </section>
