<h1>Metodologias Agiles</h1>
<img src="/images/metodologiasagiles.jpg" alt="" width="50%">
<article class="">
  <h2>Definicion</h2>
  <p>Por definición, las metodologías ágiles son aquellas que permiten adaptar la forma de trabajo a las condiciones del proyecto, consiguiendo flexibilidad e inmediatez en la respuesta para amoldar el proyecto y su desarrollo a las circunstancias específicas del entorno.</p>
  <p>El desarrollo ágil de software envuelve un enfoque para la toma de decisiones en los proyectos de software, que se refiere a métodos de ingeniería del software basados en el desarrollo iterativo e incremental, donde los requisitos y soluciones evolucionan con el tiempo según la necesidad del proyecto. Así el trabajo es realizado mediante la colaboración de equipos auto-organizados y multidisciplinarios, inmersos en un proceso compartido de toma de decisiones a corto plazo.</p>
  <p>Cada iteración del ciclo de vida incluye: planificación, análisis de requisitos, diseño, codificación, pruebas y documentación. Teniendo gran importancia el concepto de "Finalizado" (Done), ya que el objetivo de cada iteración no es agregar toda la funcionalidad para justificar el lanzamiento del producto al mercado, sino incrementar el valor por medio de "software que funciona" (sin errores).</p>
  <p>Los métodos ágiles enfatizan las comunicaciones cara a cara en vez de la documentación. La mayoría de los equipos ágiles están localizados en una simple oficina abierta, a veces llamadas "plataformas de lanzamiento" (bullpen en inglés). La oficina debe incluir revisores, escritores de documentación y ayuda, diseñadores de iteración y directores de proyecto. Los métodos ágiles también enfatizan que el software funcional es la primera medida del progreso. Combinado con la preferencia por las comunicaciones cara a cara, generalmente los métodos ágiles son criticados y tratados como "indisciplinados" por la falta de documentación técnica.</p>
</article>
<article class="">
  <h2>Ventajas</h2>
  <p>Las metodologías ágiles mejoran la satisfacción del cliente dado que se involucrará y comprometerá a lo largo de todo el proyecto. En cada etapa se informará al cliente de los logros y progresos del mismo, con la visión de involucrarlo directamente para sumar su experiencia y conocimiento, y así, optimizar las características del producto final obteniendo en todo momento una visión completa de su estado.</p>
  <p>Otra de las ventajas es la mejora de la motivación e implicación del equipo de desarrollo. Pero esta mejora no es casual: las metodologías ágiles permiten a todos los miembros del equipo conocer el estado del proyecto en cualquier momento, así, los compromisos son negociados y aceptados por todos los miembros del equipo.</p>
  <p>Por otro lado, cabe destacar que optar por la aplicación de una gestión ágil permite ahorrar tiempo y costes. El desarrollo ágil trabaja de un modo más eficiente y rápido, y con ello, se cumple de forma estricta el presupuesto y los plazos pactados dentro de un proyecto.</p>
  <p>Se trabaja con mayor velocidad y eficiencia. Una de las máximas de su aplicación es que se trabaja a través de entregas parciales del producto, de este  modo, es posible entregar en el menor intervalo de tiempo posible una versión mucho más funcional del producto.</p>
  <p>Gracias a las entregas parciales (centradas en entregar en primer lugar aquellas funcionalidades que aportan valor) y a la implicación del cliente será posible eliminar cualquier característica innecesaria del producto.</p>
  <p>Las metodologías ágiles permiten mejorar la calidad del producto. La continua interacción entre los desarrolladores y los clientes tiene como objetivo asegurar que el producto final sea exactamente lo que el cliente busca y necesita. Con este enfoque es posible abrazar la excelencia tecnológica obteniendo así un producto tecnológicamente superior.</p>
  <p>No nos olvidamos que, gracias a su aplicación es posible alertar de forma rápida tanto de errores o problemas que puedan sucederse a lo largo del proyecto. Es posible dar respuesta a todos aquellos problemas que puedan darse desde el inicio, con lo que mejoramos en costes y entrega.</p>
  <p>Y, finalmente, las metodologías ágiles permiten rentabilizar nuestras inversiones, y es que, gracias a la realización de entregas tempranas el cliente tendrá rápido acceso a aquellas funcionalidades que aportan valor acelerando el retorno de la inversión.</p>
</article>
<article class="">
  <h2>Algunos metodos agiles de desarrollo de software</h2>
  <ul>
    <li>6D-BUM</li>
    <li>Adaptive Software Development (ASD)</li>
    <li></li>
    <li>Agile Unified Process</li>
    <li>Crystal Clear</li>
    <li>Feature Driven Development (FDD)</li>
    <li>G300</li>
    <li>Lean Software Development (LSD) : Lean startup</li>
    <li>Kanban (desarrollo)</li>
    <li>Open Unified Process (OpenUP)</li>
    <li>PMI Agile</li>
    <li>Programación Extrema (XP)</li>
    <li>Metodo de desarrollo de sistemas dinámicos (DSDM)</li>
    <li>Scrum</li>
    <li>Scrumban</li>
  </ul>
</article>
