<h1>{{title}}</h1>

<article class="">
  <h2>Definicion</h2>
  <p>
    <ul>
    <li>Apoya a la gerencia con las ac/vidades de control, monitoreo y
    administra/va para la toma de decisiones.</li>
    <li>Orientado a la Gerencia de nivel medio.</li>
    <li>Sintetizan e informan el comportamiento de el nivel operativo,
    tomando como base datos de ERP, o un TPS, o de otros sistemas de
    todas las áreas de la organización.</li>
    <li>Permiten presentar un informe del estado de la organización en un
    intervalo de /empo predefinido.</li>
  </ul>
  </p>
</article>

<article class="">
  <h2>¿De donde viene la informacion?</h2>
  <p>De sistemas <a href="spt">TPS</a>: </p>
  <ul>
    <li> Sistemas de inventario</li>
    <li> Sistemas de planeación de producción.</li>
    <li> Sistemas de Producción.</li>
    <li> Sistema de contabilidad y finanzas.</li>
    <li> Sistema de recursos Humanos.</li>
    <li> Sistema de ventas.</li>
    <li> Sistemas de Inteligencia de negocio.  </li>
  </ul>

  De un Sistema de Planificación de Recursos (ERP), que son sistemas que integran a los anteriores.
</article>

<article class="">
  <h2>Funciones</h2>
  <p>El MIS y sus sistemas aledaños contribuyen a la solución de problemas a través de dos formas básicas: los recursos de información que abarcan a toda la organización, y la identificación y comprensión de los problemas. Los recursos de información que abarcan toda la organización se refieren a que el MIS es un esfuerzo que requiere de toda la organización y que busca proporcionar información importante para la toma de decisiones. El sistema es un acuerdo y un compromiso formal por parte de
    los ejecutivos de poner computadoras al servicio de los gerentes. El MIS acondiciona el terreno para alcanzar logros en otras áreas de la empresa relacionadas con los SIBC, como son los DSS, los sistemas basados en conocimientos y la oficina virtual (McLeod, 2000). La identificación y comprensión de los problemas se refiere a que la idea o concepto fundamental en el que se basa el MIS es el mantenimiento de un flujo continuo de información hacia el gerente, ya que el gerente usa el MIS
    principalmente para detectar problemas actuales o urgentes, y posteriormente para entenderlos determinando las causales y sus ubicaciones</p>
</article>
