<h1>SCRUM</h1>
<img src="/images/scrum.png" alt="">
<article class="">
  <h2>Definicion</h2>
  <p>Scrum es un marco de trabajo que define un conjunto de prácticas y roles, y que puede tomarse como punto de partida para definir el proceso de desarrollo que se ejecutará durante un proyecto.</p>
  <p>Es un proceso en el que se aplican de manera regular un conjunto de buenas prácticas para trabajar colaborativamente, en equipo y obtener el mejor resultado posible de proyectos, caracterizado por:</p>
  <ul>
    <li>Adoptar una estrategia de desarrollo incremental, en lugar de la planificación y ejecución completa del producto.</li>
    <li>Basar la calidad del resultado más en el conocimiento tácito de las personas en equipos auto organizados, que en la calidad de los procesos empleados.</li>
    <li>Solapar las diferentes fases del desarrollo, en lugar de realizar una tras otra en un ciclo secuencial o en cascada.</li>
  </ul>
</article>
<article class="">
  <h2>Caracteristicas</h2>
  <ul>
    <li>Gestión regular de las expectativas del cliente, resultados anticipados, flexibilidad y adaptación, retorno de inversión, mitigación de riesgos, productividad y calidad, alineamiento entre cliente y equipo, por último, equipo motivado.</li>
    <li>Se hace uso de equipos auto-dirigidos y auto-organizados.</li>
    <li>Se realiza a diario una reunión de Scrum, que es una reunión de avance diaria que no dura más de 15 minutos con el objetivo de obtener realimentación sobre las tareas del equipo y los obstáculos que se presentan.</li>
  </ul>
</article>
<article class="">
  <h2>Flujo de trabajo</h2>
  <section>
    <h3>Sprint</h3>
    <p>Sprint es el período en el cual se lleva a cabo el trabajo en sí. Es recomendado que la duración de los sprints sea constante y definida por el equipo con base en su propia experiencia. Se puede comenzar con una duración de sprint en particular (2 o 3 semanas) e ir ajustándolo con base en el ritmo del equipo, aunque sin relajarlo demasiado. Al final de cada sprint, el equipo deberá presentar los avances logrados, y el resultado obtenido es un producto que, potencialmente, se puede entregar al cliente</p>
  </section>
  <section>
    <h3>Planificación de sprint</h3>
    <p>Al comienzo de un sprint, el equipo de scrum tiene un evento de planificación de sprint</p>
    <p>Uno de los objetivos de la reunión es identificar y comunicar cuánto del trabajo es probable que se realice durante el actual Sprint.</p>
  </section>
  <section>
    <h3>Scrum diario</h3>
    <p>También llamado Daily Standup. Cada día durante la iteración, tiene lugar una reunión de estado del proyecto. Su objetivo es que los miembros del equipo se mantengan actualizados unos a otros sobre el trabajo de cada uno desde el ultimo standup, qué problemas han encontrado o preveen encontrar, y qué planean hacer.</p>
    <ul>
      <li>La reunión tiene una duración fija de entre 5 y 15 minutos.</li>
      <li>Se recomienda hacerla de pie para recordar que debe ser una reunión breve y centrada en su objetivo, sin divagaciones. Es obligatorio parar todo lo que se está haciendo para concentrarse en la reunión.</li>
      <li>Si se requiere ampliar un tema, se hará tras el Daily Standup, pero no se interrumpe la dinámica del Standup para elaborar una discusión.</li>
      <li>Se hace siempre a la misma hora y en el mismo lugar. Si falta alguien, no se pospone la reunión.</li>
    </ul>
  </section>
  <section>
    <h3>Retrospectiva del sprint</h3>
    <p>Después de cada sprint, se lleva a cabo una retrospectiva del sprint, en la cual todos los miembros del equipo dejan sus impresiones sobre el sprint recién superado. El propósito de la retrospectiva es realizar una mejora continua del proceso. Esta reunión tiene un tiempo fijo de cuatro horas.</p>
  </section>
</article>
<article class="">
  <h2>Beneficios de Scrum</h2>
  <ul>
    <li>Flexibilidad a cambios. Gran capacidad de reacción ante los cambiantes requerimientos generados por las necesidades del cliente o la evolución del mercado. El marco de trabajo está diseñado para adecuarse a las nuevas exigencias que implican proyectos complejos.</li>
    <li>Reducción del Time to Market. El cliente puede empezar a utilizar las características más importantes del proyecto antes de que esté completamente terminado.</li>
    <li>Mayor calidad del software. El trabajo metódico y la necesidad de obtener una versión de trabajo funcional después de cada iteración, ayuda a la obtención de un software de alta calidad.</li>
    <li>Mayor productividad. Se logra, entre otras razones, debido a la eliminación de la burocracia y la motivación del equipo proporcionado por el hecho de que pueden estructurarse de manera autónoma.</li>
    <li>Maximiza el retorno de la inversión (ROI). Creación de software solamente con las prestaciones que contribuyen a un mayor valor de negocio gracias a la priorización por retorno de inversión.</li>
    <li>Predicciones de tiempos. A través de este marco de trabajo se conoce la velocidad media del equipo por sprint, con lo que es posible estimar de manera fácil cuando se podrá hacer uso de una determinada funcionalidad que todavía está en el Backlog.</li>
    <li>Reducción de riesgos El hecho de desarrollar, en primer lugar, las funcionalidades de mayor valor y de saber la velocidad a la que el equipo avanza en el proyecto, permite despejar riesgos efectivamente de manera anticipada.</li>
  </ul>
</article>
