<h1>{{title}}</h1>

<form class="" action="" method="post">
  <label for="humedad">Humedad Minima</label>
  <input id="miTexto"type="text" name="txtHum">
  <button class="btn" onclick="actualiza()"type="button">Actualizar</button>
</form>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/788774/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=50&title=Humedad+&type=line"></iframe>
<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/788774/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=20&type=line"></iframe>
<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/788774/widgets/74114"></iframe>
