body {
    background-image: url('/images/fondo.jpg');
}

h1 {
    margin: 15px auto;
    padding: 15px 8%;
    background: #ffeef6ea;
}

article {
    background: #ffeef6;
    margin: 15px;
    padding: 20px;
}

article p, li {
    font-size: 1.5em;
}

article img {
    width: 450px;
}

li {
    padding: 0 2%;
}

.imgStruc {
    width: 40%;
    margin: 0 auto;
}